/* -------------------------------- */

html{
	height: 100%; /* Pour éviter la limite visible dans le background */
}

body{
	background :#333;
	margin:auto;
}

a{
	text-decoration: none;
}

/* CONTENU (Formulaire) */

h1{
	text-transform: uppercase;
	text-align:center;
	padding:20px;
	margin-bottom: 50px;
}

.main form{
	width:65%;
	height: auto;
	margin:auto;
	margin-top:45%;
	padding-bottom:100px;
	background-color:white;
	border-radius:5px;
	border: 3px solid #000;
	margin-bottom: 20px;
}

#col1, #col2{
	width:calc(40% - 40px);
}

.publier{
	width:20%;
}

.main form > div{
	text-align:center;
	vertical-align: middle;
	display:inline-block;
	padding:10px;
	margin: auto;
}

.main form > div > input{
	width:80%;
}

.main form > div > img{
 vertical-align: middle;
}

.main form input{
	height: 10px;
	border:none;
	border-bottom:1px solid #BBA9A9;
	padding:20px;
	padding-left:0px;
}


.main .publier > input{
	background-color:#d05715;
	color:white;
	font-weight: bold;
	width:70%;
	height: auto;
	text-transform:uppercase;
	border:none;
	padding-left:20px;
	border-radius:20px;
}


#nom_oeuvre{
	margin-right:20px; /* Pour compenser les images des autres champs (décalage) */
}

#parution{
	margin-right:20px; /* idem */
}

#oeuvre{
	border:none;
	margin-right:20px; /* idem */
}

.publier > input:hover{
	cursor:pointer;
}

/* Affichage des span dans chaque colonne */
#col1 > span, #col2 > span{
	visibility: hidden; /* Masque les deux span */
	font-size:0.8em;
	color:#BBA9A9;
}

#col2:hover .fichier{
	visibility:visible; /* Affiche le span de la colonne 2 au survol */
}